- set_meta_tags title: t("archive.title"), description: t("archive.description"), keywords: t("archive.keywords")

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("archive.title")
    .row
      .col-6= render "alink", year: 2025
      .col-6= render "alink", year: 2024
    .row
      .col-6= render "alink", year: 2023
      .col-6= render "alink", year: 2019
    .row
      .col-6= render "alink", year: 2018
      .col-6= render "alink", year: 2017
    .row
      .col-6= render "alink", year: 2016
      .col-6= render "alink", year: 2015
    .row
      .col-6= render "alink", year: 2014
      .col-6= render "alink", year: 2013
  .col
