- set_meta_tags title: t("archive.title"), description: t("archive.description"), keywords: t("archive.keywords")

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("archive.title")
    .row.mt-5
      .col-12
        = link_to conference_2019_path do
          %img.img-fluid.w-100{src: "/images/2019/conference_1500x900.jpg", alt: t("conference.title", year: 2019)}
        %p.text-center.mt-1= link_to t("conference.step", year: 2019), conference_2019_path
    .row
      .col-6= render "alink", year: 2018
      .col-6= render "alink", year: 2017
    .row
      .col-6= render "alink", year: 2016
      .col-6= render "alink", year: 2015
    .row
      .col-6= render "alink", year: 2014
      .col-6= render "alink", year: 2013
  .col
