- set_meta_tags title: t("conference.title", year: 2024), description: t("conference.description", year: 2024), keywords: t("conference.keywords", year: 2024)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2024)
    %p.text-center Stirling, 2nd March
    %p.text-center
      = link_to "2023", conference_2023_path
      = "|"
      = link_to "2025", conference_2025_path
    %h4.d-inline= "Photos"
    = render "images", year: 2024, data: { "800x500" => 1..1 }
    %h4.mt-3= "Flyer"
    %img.img-fluid.w-100{src: "/images/2024/flyer_v2_1200x844.jpg", alt: "flyer"}
  .col
