- set_meta_tags title: t("conference.title", year: 2026), description: t("conference.description", year: 2026), keywords: t("conference.keywords", year: 2026)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2026)
    %p.text-center
      = link_to "2025", conference_2025_path
      = "|"
      = link_to "Workshops", "/docs/2026/workshops.pdf"
      = "|"
      = "2027"
    .row
      .col-2
      .col-8
        %p
          It is with deepest regret that our STEP conference this year has been cancelled.
          Despite our best efforts to publicise this event, the small number of bookings has made it unviable.
          Our committee are all teacher volunteers, and while we are extremely disappointed to take this step,
          we understand how important Saturdays are to delegates, workshop leaders and sponsors.
        %img.img-fluid.w-100{src: "/images/2026/cancelled_848x1200.png", alt: "flyer"}
      .col-2
  .col
