- set_meta_tags title: t("conference.title", year: 2018), description: t("conference.description", year: 2018), keywords: t("conference.keywords", year: 2018)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2018)
    %p.text-center Stirling, 28th April
    %p.text-center
      = link_to "2017", conference_2017_path
      = "|"
      = link_to "Videos", "https://www.youtube.com/playlist?list=PLywl3hFMDCTnRzBGoH13ai2DKcI1_-FTK", target: "blank"
      = "|"
      = link_to "2019", conference_2019_path
    %h4= "Slides"
    %ul
      %li
        = "Nell Page and Dinah Aitken:"
        = link_to "The Salvesen Mindroom Centre", "/docs/2018/dinah_aitken.pptx"
        = "(PowerPoint)"
    %h4.d-inline= "Photos"
    .float-right= "by Douglas MacGregor"
    = render "images", year: 2018, data: { "1000x750" => 1..39, "750x1000" => 1..7 }
    %h4.mt-5= "Sponsors"
    %p
      = link_to "https://www.gov.scot/", target: "blank" do
        %img{src: "/images/logos/scot_gov.png", alt: "Scottish Government"}
      = link_to "https://www.gtcs.org.uk/", target: "blank" do
        %img{src: "/images/logos/gtc.png", alt: "GTC"}
      = link_to "https://www.voicetheunion.org.uk/", target: "blank" do
        %img{src: "/images/logos/voice.png", alt: "Voice the Union"}
      = link_to "http://www.edutalk.info/", target: "blank" do
        %img{src: "/images/logos/edutalk.png", alt: "Edutalk"}
      = link_to "https://education.gov.scot/", target: "blank" do
        %img{src: "/images/logos/scot_edu.png", alt: "Education Scotland"}
      = link_to "https://www.eis.org.uk/", target: "blank" do
        %img{src: "/images/logos/eis.png", alt: "EIS"}
      = link_to "https://ssta.org.uk/", target: "blank" do
        %img{src: "/images/logos/ssta.png", alt: "SSTA"}
      = link_to "https://www.nasuwt.org.uk/advice/scotland.html", target: "blank" do
        %img{src: "/images/logos/nasuwt.png", alt: "NASUWT"}
      %img{src: "/images/logos/step_today.png", alt: "Step Today"}
        -# Step Today link (http://www.steptoday.com/) no lobger works
  .col
