- set_meta_tags title: t("conference.title", year: 2025), description: t("conference.description", year: 2025), keywords: t("conference.keywords", year: 2025)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2025)
    %p.text-center Stirling, 22nd March
    %p.text-center
      = link_to "2024", conference_2024_path
      = "|"
      = link_to "Workshops", "/docs/2025/workshops.pdf"
      = "|"
      = link_to "2026", conference_2026_path
    %h4.d-inline= "Photos"
    = render "images", year: 2025, data: { "600x800" => 1..4, "800x600" => 1..4 }
    %h4.mt-3= "Flyer"
    %img.img-fluid.w-100{src: "/images/2025/flyer_v2_938x700.jpg", alt: "flyer"}
  .col
