- set_meta_tags title: t("conference.title", year: 2023), description: t("conference.description", year: 2023), keywords: t("conference.keywords", year: 2023)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2023)
    %p.text-center.fw-bold Stirling Court Hotel, Stirling, 18th March
    %p.text-center
      = link_to "2022", online_2022_path
      = "|"
      = "2024"
    %p.text-center
      = link_to "Booking Form", "/docs/2023/booking.docx"
      = "|"
      = link_to "Keynotes", "/docs/2023/keynotes.pdf"
      = "|"
      = link_to "Workshpos", "/docs/2023/workshops.pdf"
    %img.img-fluid.w-100{src: "/images/2023/flyer_1200x846.jpg", alt: "flyer"}
  .col
