- set_meta_tags title: t("conference.title", year: 2023), description: t("conference.description", year: 2023), keywords: t("conference.keywords", year: 2023)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2023)
    %p.text-center Stirling, 18th March
    %p.text-center
      = link_to "2022", online_2022_path
      = "|"
      = link_to "Workshops", "/docs/2023/workshops.pdf"
      = "|"
      = link_to "2024", conference_2024_path
    %h4 Slides
    %h6 Keynotes
    %ul
      %li
        = "David Cameron:"
        = link_to "When will we ever learn?", "/docs/2023/david_cameron.pdf"
        = "(PDF)"
      %li
        = "Ken Muir:"
        = link_to "Putting Learners at the Centre", "/docs/2023/ken_muir.pptx"
        = "(PowerPoint)"
    %h6 Workshops
    %ul
      %li
        = "Claire Murray:"
        = link_to "The Emotion Works Programme and Learning Community", "https://vimeo.com/747085484"
        = "(Vimeo)"
      %li
        = "D. Aitken, M. Macaskill, N. Whaley:"
        = link_to "Home-School Partnerships: 2023 and Beyond", "/docs/2023/dinah_aitken.pptx"
        = "(PowerPoint)"
      %li
        = "Jamie Thom:"
        = link_to "A Guide to Improving your Secondary Classroom Communication", "/docs/2023/jamie_thom.pptx"
        = "(PowerPoint)"
      %li
        = "Joe McDonald:"
        = link_to "Bringing Robots to Every Classroom", "/docs/2023/joe_mcdonald.pdf"
        = "(PDF)"
      %li
        = "Karen Watson:"
        = link_to "Inclusive Communication", "/docs/2023/karen_watson.pptx"
        = "(PowerPoint)"
      -# %li
      -#   = "Lisa Black:"
      -#   = link_to "'Coorie-in' - One School‘s Bid to Save Bedtime Stories from Extinction", "/docs/2023/lisa_black_copyright_issue.pptx"
      -#   = "(PowerPoint)"
      -# %li
      -#   = "Nuzhat Uthmani:"
      -#   = link_to "Encouraging Critical Thinking to Create Inclusive Environments", "/docs/2023/nuzhat_uthmani_copyright_issue.pptx"
      -#   = "(PowerPoint)"
      %li
        = "Yvonne McBlain:"
        = link_to "Building Learning for Sustainability into Practice", "/docs/2023/yvonne_mcblain.pptx"
        = "(PowerPoint)"
    %h4.d-inline= "Photos"
    .float-end= "by Gordon McManus"
    = render "images", year: 2023, data: { "800x500" => (1..47).reject{|i| i==40}, "800x800" => 1..5, "800x1100" => 1..3 }
    %h4.mt-3= "Flyer"
    %img.img-fluid.w-100{src: "/images/2023/flyer_without_sponsors_1200x747.jpg", alt: "flyer"}
    %h4.mt-3= "Sponsors"
    %p
      = link_to "https://www.sqa.org.uk/", target: "blank" do
        %img{src: "/images/logos/sqa.png", alt: "SQA"}
      = link_to "https://www.gtcs.org.uk/", target: "blank" do
        %img{src: "/images/logos/gtc.png", alt: "GTC"}
      = link_to "https://www.eis.org.uk/", target: "blank" do
        %img{src: "/images/logos/eis.png", alt: "EIS"}
      = link_to "https://www.gov.scot/", target: "blank" do
        %img{src: "/images/logos/scot_gov.png", alt: "Scottish Government"}
      = link_to "https://www.voicetheunion.org.uk/", target: "blank" do
        %img{src: "/images/logos/voice.png", alt: "Voice the Union"}
      = link_to "https://education.gov.scot/", target: "blank" do
        %img{src: "/images/logos/scot_edu.png", alt: "Education Scotland"}
      = link_to "https://scholar.hw.ac.uk/", target: "blank" do
        %img{src: "/images/logos/scholar.png", alt: "SCHOLAR"}
  .col
