- set_meta_tags title: t("conference.title", year: 2023), description: t("conference.description", year: 2023), keywords: t("conference.keywords", year: 2023)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2023)
    %p.text-center.fw-bold Stirling Court Hotel, Stirling, 18th March
    %p.text-center
      = link_to "2022", online_2022_path
      = "|"
      = link_to "Keynotes", "/docs/2023/keynotes.pdf"
      = "|"
      = link_to "Workshops", "/docs/2023/workshops.pdf"
      = "|"
      = "2024"
    %img.img-fluid.w-100{src: "/images/2023/flyer_without_sponsors_1200x747.jpg", alt: "flyer"}
    %h4.mt-5= "Sponsors"
    %p
      = link_to "https://www.sqa.org.uk/", target: "blank" do
        %img{src: "/images/logos/sqa.png", alt: "SQA"}
      = link_to "https://www.gtcs.org.uk/", target: "blank" do
        %img{src: "/images/logos/gtc.png", alt: "GTC"}
      = link_to "https://www.eis.org.uk/", target: "blank" do
        %img{src: "/images/logos/eis.png", alt: "EIS"}
      = link_to "https://www.gov.scot/", target: "blank" do
        %img{src: "/images/logos/scot_gov.png", alt: "Scottish Government"}
      = link_to "https://www.voicetheunion.org.uk/", target: "blank" do
        %img{src: "/images/logos/voice.png", alt: "Voice the Union"}
      = link_to "https://education.gov.scot/", target: "blank" do
        %img{src: "/images/logos/scot_edu.png", alt: "Education Scotland"}
      = link_to "https://scholar.hw.ac.uk/", target: "blank" do
        %img{src: "/images/logos/scholar.png", alt: "SCHOLAR"}
  .col
