- set_meta_tags title: t("conference.title", year: 2024), description: t("conference.description", year: 2024), keywords: t("conference.keywords", year: 2024)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.step", year: 2024)
    %p.text-center Stirling, 2nd March
    %p.text-center
      = link_to "2023", conference_2023_path
      = "|"
      = link_to "Registration", register_path
      = "|"
      = link_to "Keynotes & Workshops", "/docs/2024/keynotes_workshops.pdf"
      = "|"
      = "2025"
    %img.img-fluid.w-100{src: "/images/2024/flyer_v2_1200x844.jpg", alt: "flyer"}
  .col
