- set_meta_tags title: t("conference.title", year: 2013), description: t("conference.description", year: 2013), keywords: t("conference.keywords", year: 2013)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("conference.acts", year: 2013)
    %p.text-center Stirling, 2nd Feb
    %p.text-center
      = "2012"
      = "|"
      = link_to "Videos", "https://www.youtube.com/playlist?list=PLywl3hFMDCTmxmDBy17izd7000Mg9OTER", target: "blank"
      -# = "|"
      -# = link_to "Presentations", "http://acts.edublogs.org/conference-2013-presentations", target: "blank"
      = "|"
      = link_to "Audio", "http://edutalk.cc/tag/acts/", target: "blank"
      = "|"
      = link_to "2014", conference_2014_path
    %img.img-fluid.w-100.mt-5{src: "/images/2013/banner_1200x500.jpg", alt: "2013 conference"}
  .col
