- set_meta_tags title: t("env.title")

.row
  .col-3
  .col-6
    %h2.text-center.mt-5= t("env.title")
    %table{class: "table table-bordered table-sm mt-4"}
      %tbody
        %tr
          %th= "Host"
          %td= @host
        %tr
          %th= "Env"
          %td= ENV["RAILS_ENV"]
        %tr
          %th= "Ruby"
          %td= "#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}"
        %tr
          %th= "Rails"
          %td= Rails::VERSION::STRING
        %tr
          %th= "Gems"
          %td= @gem_version
        %tr
          %th= "Bundler"
          %td= ENV["BUNDLER_VERSION"]
        - if Rails.env.production?
          %tr
            %th= "Passenger"
            %td= @passenger_version
  .col-3
