- set_meta_tags title: t("image.title"), description: t("image.description"), keywords: t("image.keywords")

.row
  .col
  .col-10
    %turbo-frame{id: "image", "data-turbo-action" => "advance"}
      %p.text-center.mt-3
        - if @prev
          = link_to t("prev"), @prev.path
          = "|"
        = link_to @image.year, "/conference-#{@image.year}", "data-turbo-frame" => "_top"
        - if @next
          = "|"
          = link_to t("next"), @next.path
      %img#image.img-fluid.w-100{src: @image.src, alt: @image.alt}
  .col
