- set_meta_tags title: t("info.title"), description: t("info.description"), keywords: t("info.keywords")

.row
  .col
  .col-10
    %h2.text-center.mt-5 CLPL Opportunities
    %img.img-fluid.w-100.mt-5{src: "/images/misc/opportunity_1200x500.jpg", alt: "opportunity"}
    .row.mt-5
      .col
      .col-10.col-md-9.col-xl-8
        %ul
          %li
            = link_to "Learning and Skills Events Calendar", "https://www.ajenterprises.co.uk/events/"
            from Informed Scotland
          %li
            = link_to "National Strategy for School Libraries", "https://spark.adobe.com/page/1zoGWOL27pMyd/"
          %li
            = link_to "SAMH Mental Health E-Learning", "https://www.samh.org.uk/about-mental-health/elearning-for-teachers"
          %li
            = link_to "Climate Change free CLPL", "https://www.glasgowsciencecentre.org/learn/climatechangeclpl"
            Glasgow Science Centre, Sep 11, Oct 22, or Oct 23
      .col
    %h2.text-center.mt-5 Useful Links
    %img.img-fluid.w-100.mt-5{src: "/images/misc/links_1200x500.jpg", alt: "useful links"}
    .row.mt-5
      .col
      .col-10.col-md-9.col-xl-8
        %ul
          %li
            = link_to "Educational Institute of Scotland", "https://www.eis.org.uk/", target: "blank"
            (EIS)
          %li
            = link_to "Education Scotland", "https://www.educationscotland.gov.uk/", target: "blank"
          %li
            = link_to "GLOW", "https://glowconnect.org.uk/", target: "blank"
          %li
            = link_to "General Teaching Council for Scotland", "https://www.gtcs.org.uk/", target: "blank"
            (GTCS)
          %li
            = link_to "NASUWT", "https://www.nasuwt.org.uk/", target: "blank"
          %li
            = link_to "National Parent Forum for Scotland", "https://www.npfs.org.uk/", target: "blank"
          %li
            = link_to "Scottish Educational Research Association", "https://www.sera.ac.uk/", target: "blank"
            (SERA)
          %li
            = link_to "Scottish Qualifications Authority", "https://www.sqa.org.uk/", target: "blank"
            (SQA)
          %li
            = link_to "Scottish Secondary Teachers’ Association", "https://ssta.org.uk/", target: "blank"
            (SSTA)
          %li
            = link_to "Voice", "https://www.voicetheunion.org.uk/", target: "blank"
      .col
  .col
