- set_meta_tags title: t("online.title", year: 2022), description: t("online.description", year: 2022), keywords: t("online.keywords", year: 2020)

.row
  .col
  .col-10
    %h2.text-center.mt-5= t("online.title", year: 2022)
    %p.text-center
      = link_to "2021", online_2021_path
      = "|"
      = link_to "2023", conference_2023_path
    - name1 = "Ken Muir"
    - name2 = "David Cameron"
    - link1 = "/stepcast#2022-ken-muir"
    - link2 = "/stepcast#2022-david-cameron"
    - foto1 = "/images/2022/ken_muir_880x800.jpg"
    - foto2 = "/images/2022/david_cameron_880x800.jpg"
    %p.mb-3
      STEP are hosting a series of online events beginning with Professor Ken Muir
      and (The Real) David Cameron. During these pre-recorded events the committee
      will ask questions submitted online.
      Listen to
      = succeed(",") do
        = link_to name1, link1
      = succeed(".") do
        = link_to name2, link2
    .row
      .col-6
        = link_to link1 do
          %img.img-fluid.w-100.mt-2{src: foto1, alt: name1}
      .col-6
        = link_to link2 do
          %img.img-fluid.w-100.mt-2{src: foto2, alt: name2}
  .col
