= link_to_if action_name != "home", t("home.link"), home_path
= link_to_if action_name != "about", t("about.link"), about_path
= link_to_if action_name != "register", t("register.link"), register_path
= link_to_if action_name != "info", t("info.link"), info_path
= link_to_if action_name != "stepcast", t("stepcast.link"), stepcast_path
= link_to_if action_name != "archive", t("archive.link"), archive_path
